.editable {
    color: @primary;
    border-bottom: @border-size dotted @primary;

    &:hover {
        text-decoration: none;
        color: shade(@primary, 10%);
        border-bottom-color: shade(@primary, 10%);
    }
}

.editable-empty {
    font-style: italic;
    color: @danger;
    border-bottom: @border-size dotted @danger;

    &:hover {
        text-decoration: none;
        color: shade(@danger, 10%);
        border-bottom-color: shade(@danger, 10%);
    }
}

.editable,
.editable-empty {
    &:hover {
        cursor: pointer;
    }
}

.editable-icon {
    display: inline-block;
    text-align: center;
    width: 1.2em;
    font-size: .9em;
}